.App {
  /*text-align: center;*/
  max-width: 800px;
  margin: auto;
}
.App-header {
  border-color: darkgray;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 1vh;
}
.timer {
  min-width: 90px;
  font-size: calc(12px + 2vmin);
  color: blue;
  display: block;
  text-align: right;
  float: right;
}
.timer i {
  font-size: calc(5px + 2vmin);
}
i.pomodoro {
  font-size: calc(2vmin);
}
.timer.timer-break {
  color: green;
}
.timer .timer-warning {
  color: red;
}

.Task-list {
  border-color: #efeafe;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Task-list .Task-list-footer {
  font-size: calc(2px + 2vmin);
  color: grey;
}

.Task-list .ant-row {
  border-bottom: 1px dashed lightgray ;
  padding-top: 5px ;
  padding-bottom: 5px ;
  margin-top: 2px;
  margin-bottom: 2px ;
}
.Task-list .ant-row.Task-header {
  text-align: left;
  font-size: smaller;
  border-bottom: 1px solid darkgray;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Task-list .ant-row.Task-current {
  background: rgba(10, 200, 10, 0.1);
  border: 1px dashed darkgreen;
}
.Task-list .Task-title{
  text-align: left;
  word-break: break-all;
}

.Task-list .Task-title small{
  font-size: x-small;
  color: lightgray;
}
.Task-list .Task-title.Task-completed span{
  text-decoration: line-through;
}

.Task-list .ant-row .ant-btn {
  margin-right: 5px !important;
}
.Task-list .ant-col:first-child {
  padding-left: 10px !important;
}

.App-link {
  color: #09d3ac;
}
